[toolchain]
package_manager = "yarn"

[features]
seeds = false
skip-lint = true

[programs.localnet]
solana_credential_registry = "BkRycTbUHXqz9QsNnXCbNqFfrGrPoKsi3NuvNcFwe37k"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""